@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sh-identifier: #242424;
  --sh-keyword: #f47067;
  --sh-string: #00a99a;
  --sh-class: #8d85ff;
  --sh-property: #4e8fdf;
  --sh-entity: #66adff;
  --sh-jsxliterals: #bf7db6;
  --sh-sign: #7c7c7c;
  --sh-comment: #7c7c7c;
}

:root.dark {
  --sh-identifier: #e6e6e6;

  .dashed {
    background: repeating-linear-gradient(
      45deg,
      #262626 0px,
      #262626 6px,
      transparent 6px,
      transparent 9px
    );
  }
}

html {
  scroll-behavior: smooth !important;
}

button,
img {
  user-select: none;
}

::selection {
  background-color: rgb(14 165 233);
  color: rgb(255, 255, 255);
}

code *,
pre *,
tt,
kbd,
samp {
  font-family: var(--font-mono) !important;
}

p,
span,
a,
button,
input {
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-display);
}

h1,
h2,
h3,
h4,
p,
a,
button,
input,
li {
  @apply text-neutral-950 dark:text-neutral-50;
}

.dashed {
  background: repeating-linear-gradient(
    45deg,
    #e5e5e5 0px,
    #e5e5e5 6px,
    transparent 6px,
    transparent 9px
  );
}
