@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("/inter/regular.woff") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  @apply scroll-smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Inter", sans-serif;
  @apply bg-neutral-50 tracking-tight text-neutral-950 dark:bg-neutral-950 dark:text-neutral-50;
}

pre {
  @apply my-2 rounded-lg border border-neutral-200 !bg-neutral-100/50 p-4 text-xs dark:border-neutral-800 dark:!bg-neutral-900;
}

section {
  @apply my-12;
}

h2 {
  @apply mb-2 font-semibold;
}

p {
  @apply my-1;
}

p > code {
  @apply rounded border border-neutral-200 bg-neutral-100/50 p-1 text-xs dark:border-neutral-800 dark:bg-neutral-900;
}

p > a {
  @apply text-sky-600 hover:underline dark:text-sky-500;
}

::selection {
  @apply bg-neutral-950/20 dark:bg-neutral-50/20;
}

.copy-code {
  @apply absolute right-0 top-0 m-2 flex h-fit w-fit items-center justify-center rounded-lg border border-neutral-200 bg-neutral-200/50 p-2 text-neutral-800 dark:border-neutral-700 dark:bg-neutral-800 dark:text-neutral-50;
}

html.dark .astro-code,
html.dark .astro-code span {
  color: var(--shiki-dark) !important;
}
