@font-face {
  font-family: "Inter";
  src: url("/inter/regular.woff") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Inter", sans-serif;
  @apply tracking-tight scroll-smooth;
}
